@using System.Security.Claims
@model TravelExpertsWeb.Models.Customers

<!DOCTYPE html>
<html>
<head>
    <title>Travel Experts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/demo.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/stylemodal.css">

</head>
<body>

    <!-- Navigation Bar Begin -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light js-main-nav" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Travel Experts</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto js-signin-modal-trigger">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Packages">Packages</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li class="nav-item cta"><a class="nav-link" href="#0" data-signin="login">Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Navigation Bar End -->
    <!-- Signup / Login Modal Begin-->
    <div class="cd-signin-modal js-signin-modal">
        <div class="cd-signin-modal__container">
            <!-- this is the container wrapper -->
            <ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
                <li><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
                <li><a href="#0" data-signin="signup" data-type="signup">Create Account</a></li>
            </ul>
            <div class="cd-signin-modal__block js-signin-modal-block" data-type="login">
                <!-- log in form -->
                <form class="cd-signin-modal__form">
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signin-email">E-mail</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-email" type="email" placeholder="E-mail">
                        <span class="cd-signin-modal__error">Error message here!</span>
                    </p>
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signin-password">Password</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-password" type="text" placeholder="Password">
                        <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                        <span class="cd-signin-modal__error">Error message here!</span>
                    </p>
                    @*<p class="cd-signin-modal__fieldset">
                            <input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
                            <label for="remember-me">Remember me</label>
                        </p>*@
                    <p class="cd-signin-modal__fieldset">
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit" value="Login">
                    </p>
                </form>
                <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Forgot your password?</a></p>
            </div> <!-- cd-signin-modal__block -->
            <div class="cd-signin-modal__block js-signin-modal-block" data-type="signup">
                <!-- sign up form -->
                <form asp-controller="Customers" asp-action="SignUp" class="cd-signin-modal__form">
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustUserName" class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-username">User Name</label>
            <input asp-for="CustUserName" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-username" type="text" placeholder="User Name">
            <span asp-validation-for="CustUserName" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustFirstName" class="cd-signin-modal__label cd-signin-modal__label--firstname cd-signin-modal__label--image-replace" for="signup-firstname">First Name</label>
            <input asp-for="CustFirstName" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-firstname" type="text" placeholder="First Name">
            <span asp-validation-for="CustFirstName" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustLastName" class="cd-signin-modal__label cd-signin-modal__label--lastname cd-signin-modal__label--image-replace" for="signup-lastname">Last Name</label>
            <input asp-for="CustLastName" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-lastname" type="text" placeholder="Last Name">
            <span asp-validation-for="CustLastName" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustAddress" class="cd-signin-modal__label cd-signin-modal__label--address cd-signin-modal__label--image-replace" for="signup-address">Address</label>
            <input asp-for="CustAddress" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-address" type="text" placeholder="Address">
            <span asp-validation-for="CustAddress" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustCity" class="cd-signin-modal__label cd-signin-modal__label--city cd-signin-modal__label--image-replace" for="signup-city">City</label>
            <input asp-for="CustCity" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-city" type="text" placeholder="City">
            <span asp-validation-for="CustCity" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustProv" class="cd-signin-modal__label cd-signin-modal__label--province cd-signin-modal__label--image-replace" for="signup-province">Province</label>
            <input asp-for="CustProv" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-province" type="text" placeholder="Province">
            <span asp-validation-for="CustProv" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustPostal" class="cd-signin-modal__label cd-signin-modal__label--postcode cd-signin-modal__label--image-replace" for="signup-postcode">Postcode</label>
            <input asp-for="CustPostal" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-postcode" type="text" placeholder="Postcode">
            <span asp-validation-for="CustPostal" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustCountry" class="cd-signin-modal__label cd-signin-modal__label--country cd-signin-modal__label--image-replace" for="signup-country">Country</label>
            <input asp-for="CustCountry" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-country" type="text" value="Canada" placeholder="Country">
            <span asp-validation-for="CustCountry" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustHomePhone" class="cd-signin-modal__label cd-signin-modal__label--homephone cd-signin-modal__label--image-replace" for="signup-homephone">Home Phone</label>
            <input asp-for="CustHomePhone" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-homephone" type="text" placeholder="Home Phone">
            <span asp-validation-for="CustHomePhone" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustBusPhone" class="cd-signin-modal__label cd-signin-modal__label--busphone cd-signin-modal__label--image-replace" for="signup-busphone">Business Phone</label>
            <input asp-for="CustBusPhone" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-busphone" type="text" placeholder="Business Phone">
            <span asp-validation-for="CustBusPhone" class="cd-signin-modal__error"></span>
        </p>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="CustEmail" class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signup-email">Email Address</label>
            <input asp-for="CustEmail" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" type="email" placeholder="Email Address">
            <span asp-validation-for="CustEmail" class="cd-signin-modal__error"></span>
        </p>
        <div class="cd-signin-modal__fieldset">
            <label asp-for="AgentId" class="cd-signin-modal__label cd-signin-modal__label--agentid cd-signin-modal__label--image-replace" for="signup-agentid">Agent ID</label>
            <select asp-for="AgentId" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-agentid" asp-items="ViewBag.AgentId"></select>
        </div>
        <p class="cd-signin-modal__fieldset">
            <label asp-for="PasswordNotHashed" class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">Password</label>
            <input asp-for="PasswordNotHashed" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" type="password"
                   placeholder="Password: 6-20 characters.">
            <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
            <span asp-validation-for="PasswordNotHashed" class="cd-signin-modal__error"></span>
        </p>

                
                    @*<p class="cd-signin-modal__fieldset">
                <input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
                <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
            </p>*@
                    <p class="cd-signin-modal__fieldset">
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Create account">
                    </p>
                </form>
            </div> <!-- cd-signin-modal__block -->
            <div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
                <!-- reset password form -->
                <p class="cd-signin-modal__message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
                <form class="cd-signin-modal__form">
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="reset-email">E-mail</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="reset-email" type="email" placeholder="E-mail">
                        <span class="cd-signin-modal__error">Error message here!</span>
                    </p>
                    <p class="cd-signin-modal__fieldset">
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Reset password">
                    </p>
                </form>
                <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back to log-in</a></p>
            </div> <!-- cd-signin-modal__block -->
            <a href="#0" class="cd-signin-modal__close js-close">Close</a>
        </div> <!-- cd-signin-modal__container -->
    </div>
    <!-- Signup / Login Modal End -->

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Begin -->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Travel Experts</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Service</a></li>
                            <li><a href="#" class="py-2 d-block">Terms and Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Become a partner</a></li>
                            <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Customer Support</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQ</a></li>
                            <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                            <li><a href="#" class="py-2 d-block">How it works</a></li>
                            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">1155 8th Ave SW, Calgary, AB, Canada</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+1 403 271 9873</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@travelexperts.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/placeholders.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
